body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1d203a;
}

.container-counter {
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px #aee3f9;
    gap: 20px;
    border-radius: 8px;
}

.display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d203a;
    background: #aee3f9;
    border-radius: 8px;
    flex: 1;
    font-size: 60px;
}

.container-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid 2px #aee3f9;
    border-radius: 8px;
}

.container-btn>button {
    background: #aee3f9;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid #555;
}
